<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ex1</title>
</head>
<body>
<!-- 출력 -->
<h4>[[${list}]]</h4>
<hr/>

<!-- 주석 처리 -->
<!-- <h4 th:text="${list}"></h4> -->

<!-- th:with를 이용한 변수 선언 -->
<div th:with="num1 = ${10}, num2 = ${20}">
    <h4 th:text="${num1 + num2}"></h4>
</div>

<!-- 반복문 -->
<ul>
    <li th:each="str: ${list}" th:text="${str}"></li>
</ul>

<ul>
    <th:block th:each="str: ${list}">
        <li>[[${str}]]</li>
    </th:block>
</ul>

<!-- 반복문 status 변수 -->
<ul>
    <li th:each="str,status: ${list}">
        [[${status.index}]] -- [[${str}]]
    </li>
</ul>

<!-- th:if / th:less -->
<ul>
    <li th:each="str,status: ${list}">
        <span th:if="${status.odd}"> ODD -- [[${str}]]</span>
        <span th:unless="${status.odd}"> EVEN -- [[${str}]]</span>
    </li>
</ul>

<!-- 삼항 연산자 -->
<ul>
    <li th:each="str,status: ${list}">
        <span th:text="${status.odd} ? 'ODD --- '+${str}"></span>
    </li>
</ul>
<ul>
    <li th:each="str,status: ${list}">
        <span th:text="${status.odd} ? 'ODD --- '+${str} : 'EVEN --- '+${str}"></span>
    </li>
</ul>

<!-- th:switch -->
<ul>
    <li th:each="str,status: ${list}">
        <th:block th:switch="${status.index % 3}">
            <span th:case="0">0</span>
            <span th:case="1">1</span>
            <span th:case="2">2</span>
        </th:block>
    </li>
</ul>

<!-- 링크 처리 -->
<a th:href="@{/helloSpringBoot}">Go to /helloSpringBoot</a><br>
<a th:href="@{/helloSpringBoot(name='AAA', age=16)}">Go to /helloSpringBoot?name=AAA&age=16</a><br>
<a th:href="@{/helloSpringBoot(name='한글', age=17)}">Go to /hello?helloSpringBoot=한글&age=17</a><br>
</body>
</html>