<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>/board/register</title>
</head>

<div layout:fragment="content">
    <dic class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">Board Register</div>
                <div class="card-body">
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" name="writer" class="form-control" placeholder="Writer">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">Add files</button>
                            </div>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div><!-- end cardbody -->
            </div><!-- end card -->
        </div><!-- end col -->
    </dic><!-- end row -->

    <!-- 첨부파일 썸네일 -->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;"></div>
        </div>
    </div>

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload file</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>  <!-- register modal -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>

</div> <!-- layout fragment end -->

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    const uploadModalEl = document.querySelector(".uploadModal");

    // 모달이 완전히 닫혔을 때 포커스를 이동
    uploadModalEl.addEventListener('hidden.bs.modal', function () {
        document.querySelector(".uploadFileBtn").focus();
    });

    document.querySelector(".uploadFileBtn").addEventListener("click", function(e) {
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()
    }, false)

    function removeFile(link, obj) {
        console.log(link)

        const targetDiv = obj.closest(".card")

        removeFileToServer(link).then(data => {
            targetDiv.remove()
        })
    }


    document.querySelector(".uploadBtn").addEventListener("click", function(e) {
        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files
        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i])
        }

        const uploadResult = document.querySelector(".uploadResult")

        function showUploadFile({uuid, fileName, link}) {
            const str = `<div class="card col-4">
<div class="card-header d-flex justify-content-center">
${fileName}
<button class="btn-sm btn-danger" onclick="javascript:removeFile('${link}', this)">X</button>
</div>
<div class="card-body">
<img src="/view/${link}" data-src="${uuid+"_"+fileName}" style="width: auto; height: 150px; display: block; object-fit: contain;">
</div>
</div><!-- card -->`

            uploadResult.innerHTML += str
        }

        uploadToServer(formObj).then(result => {
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    }, false)

</script>
<body>

</body>
</html>