<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>/board/register</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">Board Register</div>
                <div class="card-body">
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" name="title" class="form-control" placeholder="Title">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" name="writer" class="form-control" placeholder="Writer"
                            th:value="${#authentication.principal.username}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">Add files</button>
                            </div>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div><!-- end cardbody -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="로그아웃"/>
    </form>

    <!-- 첨부파일 썸네일 -->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;"></div>
        </div>
    </div>

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload file</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>  <!-- register modal -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/upload.js"></script>

</div> <!-- layout fragment end -->

<script layout:fragment="script" th:inline="javascript">

    const auth = /*[[${#authentication}]]*/ null;
    console.log("Authentication object:", auth);

    const username = /*[[${#authentication.name}]]*/ 'anonymous';
    console.log("Logged-in username:", username);

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    const uploadModalEl = document.querySelector(".uploadModal");

    // 모달이 완전히 닫혔을 때 포커스를 이동
    uploadModalEl.addEventListener('hidden.bs.modal', function () {
        document.querySelector(".uploadFileBtn").focus();
    });

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e) {
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()
    }, false)

    function removeFile(uuid, fileName, obj) {
        console.log("removeFile 실행")
        console.log(uuid)
        console.log(fileName)
        console.log(obj)
        const fullFileName = uuid + "_" + fileName;

        const targetDiv = obj.closest(".card")

        removeFileToServer(fullFileName).then(data => {
            targetDiv.remove()
        })
    }

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({uuid, fileName, link}) {
        console.log("showUploadFile - S3 URL:", link);

        // S3 URL은 이미 전체 경로이므로 '/view/' 접두사 제거
        const imageUrl = link;

        // removeFile 함수에 전달할 파일 이름 조합 (서버에서 이 형태로 처리할 경우)
        const uuidFileName = uuid + "_" + fileName;

        const str = `<div class="card col-4">
<div class="card-header d-flex justify-content-center">
${uuidFileName}
<button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
</div>
<div class="card-body">
<img src="${imageUrl}" data-src="${uuidFileName}" style="width:300px; display: block; object-fit: contain;">
</div>
</div>`

        uploadResult.innerHTML += str
    }

    document.querySelector(".uploadBtn").addEventListener("click", function (e) {
        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']")

        console.log("uploadBtn")
        console.log(fileInput.files)

        const files = fileInput.files
        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i])
        }

        uploadToServer(formObj).then(result => {
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    }, false)

    document.querySelector(".submitBtn").addEventListener("click", function(e) {
        e.preventDefault()
        e.stopPropagation()

        console.log("submitBtn clicked")

        const target = document.querySelector(".uploadHidden")
        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for (let i = 0; i < uploadFiles.length; i++) {
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")

            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }

        target.innerHTML = str;

        document.querySelector("form").submit()
    }, false)

</script>
<body>

</body>
</html>